<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<appSettings>
		<add key="webpages:Version" value="1.0.0.0"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="smtprelay1.telia.com" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>

		<customErrors mode="Off" />
		
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>

		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="502" subStatusCode="-1" />
			
			<error statusCode="404" path="/system/http-404" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/system/http-500" responseMode="ExecuteURL" />
			<error statusCode="501" prefixLanguageFilePath="" path="/system/http-500" responseMode="ExecuteURL" />
			<error statusCode="502" prefixLanguageFilePath="" path="/system/http-500" responseMode="ExecuteURL" />
		</httpErrors>

		<rewrite>
			<rules>
				<rule name="Redirect of fluentsecurity.net to www.fluentsecurity.net" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="fluentsecurity.net" />
					</conditions>
					<action type="Redirect" url="http://www.fluentsecurity.net/{R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>