body { padding: 20px 20px; font-family: "Consolas";font-size: .8em; }
h1 { margin: 0 0 20px 0; }
ul { padding: 0; list-style-type: none; }
ul li { margin-bottom: 20px; }
table { width: 100%; border-collapse: collapse; border-bottom: solid 3px #aaa; }
table th, table td { padding: 5px; border-top: solid 1px #ccc; }
table th { width: 200px; vertical-align: top; text-align: left; }