<!DOCTYPE html>
<html ng-app>
	<head>
		<title>TweetStore - Admin</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<style type="text/css">
			body { font-family: "Consolas";font-size: .8em; }
			ul { padding: 0; list-style-type: none; }
			ul li { margin-bottom: 1em; }
			table th { text-align: left; min-width: 200px; }
		</style>
	</head>
	<body ng-controller="TweetsCtrl">
		<ul class="tweets" ng-model="tweets">
			<li ng-repeat="tweet in tweets">
				<table>
					<tr ng-repeat="keyVal in parseTweet(tweet)">
						<th>{{keyVal.Key}}</th>
						<td>{{keyVal.Value}}</td>
					</tr>
				</table>
			</li>
		</ul>
	</body>
	<script type="text/javascript">
		function TweetsCtrl($scope, $http) {
			$scope.tweets = [];

			$scope.parseTweet = function (tweet) {
				var pairs = [];
				for (var key in tweet) {
					if (key !== "$$hashKey") {
						var val = tweet[key];
						pairs.push({
							Key: key,
							Value: val
						});
					}
				}
				return pairs;
			};

			$http.get('http://localhost:8080/api/tweets')
			.success(function (data, status) {
				console.log("success");
				var items = [];
				$.each(data, function () {
					items.push(this);
				});
				
				$scope.tweets = items;
			})
			.error(function (data, status) {
				console.log("error");
			});
		}
	</script>
</html>