<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="TweetStore" connectionString="Data Source=C:\Develop\FluentSecurity-Website\FluentSecurity-Website\App_Data\TweetStore.sdf"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
