@{
    ViewBag.Title = "Fluent Security : Fluent security configuration for ASP.NET MVC";
}
@section Highlights {
	<div class="col">
		<h2>Learn more</h2>
		<p>Getting started with Fluent Security is easy. You'll be up and running in minutes.</p>
		<a class="link" href="#">Learn more</a>
	</div>
	<div class="col">
		<h2>NuGet</h2>
		<p>The easiest way to get started is to install Fluent Security via NuGet. Search for FluentSecurity in the "Add library reference" dialog or install it through the package manager console in Visual Studio.<br /><code>PM&gt; Install-Package FluentSecurity</code></p>
		<a class="link" href="http://nuget.org/List/Packages/FluentSecurity">NuGet</a>
	</div>
	<div class="col last">
		<h2>Download</h2>
		<p>If you're not using NuGet you can grab the binaries from Github.</p>
		<a class="link" href="https://github.com/downloads/kristofferahl/FluentSecurity/FluentSecurity-0.9.2.zip">Download</a>
	</div>
}
@*<div class="col">
	<h3>Resources</h3>
	<div class="article">
		<p class="date">March, 2010</p>
		<h4><a href="http://www.accidentlawyersnc.com/">Truck Accident Lawyers</a></h4>
		<p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat.</p>
	</div>
	<div class="article">
		<p class="date">February, 2010</p>
		<h4><a href="http://www.mccabelawoffices.com/">Car Accident Lawyers</a></h4>
		<p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat.</p>
	</div>
	<div class="article">
		<p class="date">January, 2010</p>
		<h4><a href="http://www.hardisonwood.com/">Car Accident Attorneys</a></h4>
		<p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat.</p>
	</div>
</div>
<div class="col">
	<h3>Github commits</h3>
	<div class="article">
		<p class="date">March, 2010</p>
		<h4><a href="http://www.truckingattorney.com/">Truck Accident Attorneys</a></h4>
		<p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat.</p>
	</div>
	<div class="article">
		<p class="date">February, 2010</p>
		<h4><a href="http://www.lawyermarketinggroup.com/">Law Firm Marketing</a></h4>
		<p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat.</p>
	</div>
	<div class="article">
		<p class="date">January, 2010</p>
		<h4><a href="#">Nunc pellentesque a porta lacus</a></h4>
		<p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat.</p>
	</div>
</div>
<div class="col last">
	<h3>Why Fluent Security</h3>
	<div class="case">
		<img src="/content/images/thumb.gif" alt="Case Thumb" />
		<p><a href="#">Donec arcu, convallis at pharetra</a><br />
		Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
	</div>
	<div class="case">
		<img src="/content/images/thumb.gif" alt="Case Thumb" />
		<p><a href="#">Quisque quis laoreet tristique</a><br />
		Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
	</div>
	<div class="case">
		<img src="/content/images/thumb.gif" alt="Case Thumb" />
		<p><a href="#">Nunc pellentesque a porta lacus</a><br />
		Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
	</div>
	<div class="case">
		<img src="/content/images/thumb.gif" alt="Case Thumb" />
		<p><a href="#">Nunc pellentesque a porta lacus</a><br />
		Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
	</div>
</div>*@