@model ContactEditModel
@{
    ViewBag.Title = "Support : Fluent Security";
}
<h2>Support</h2>
<p>Here's the options you have if you need help getting started or if you've found an issues with FluentSecurity.</p>

<h3>Post an issue on Github</h3>
<p>If you've <a href="https://github.com/kristofferahl/FluentSecurity/issues">found an issue or want to add a feature request</a> you can do so on github.</p>

<h3>Ask a question on Stackoverflow</h3>
<p>This is the place to <a href="http://stackoverflow.com/">ask questions related to FluentSecurity</a>. Make sure you <strong>tag your question</strong> with "<a href="http://stackoverflow.com/questions/tagged/fluent-security">fluent-security</a>".</p>

<h3>Ask a question on Jabbr</h3>
<p>We have a <a href="https://jabbr.net/#/rooms/Fluent-Security">chat room on Jabbr</a> where you can ask a question if you're stuck or want to discuss anything related to FluentSecurity.</p>

<h3>Contact us</h3>
<p>If you want to get in touch, you'll find everything you need on our @Html.NavigationLink(Url.Action<ContentController>(x => x.Contact()), "conctact information") page.</p>